html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-family: SF Pro;
    font-weight: 200;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 540px;
}

.screen {
    color: white;
    font-size: 80px;
    text-align: right;
    padding-right: 30px;
}

.calc-button-row {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.calc-button {
    font-size: 40px;
    font-weight: 400;
    background: rgb(51, 51, 51);
    color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 0;
    transition: 0.3s;
}

.double {
    box-sizing: border-box;  
    width: 180px;
    height: 90px;
    border-radius: 90px;
    text-align: left;
    padding: 0px 30px;
}

.first-row {
    background: rgb(165, 165, 165);
    color: black;
}

.calc-button:last-child {
    background: rgb(255, 158, 11);
}

.calc-button:hover {
    background: rgb(115, 115, 115);
}

.first-row:hover{
    background:rgb(217, 217, 217);
}

.calc-button:last-child:hover {
    background: rgb(252, 199, 141);
}

.calc-button:last-child:focus {
    background: white;
    color: rgb(255, 158, 11);
}
